
Click on the event image to follow the event........
<slider>
</slider>

<div id="midrow">
  <div id="container">
    <div class="box">
      <h1>ABOUT THE EVENT</h1>
      <a class="plan" href="#">Business Plan</a>
      <p><a>
      	The event is organized yearly by XYZ college.
      	Its main purpose is to explore the various talents in college
      	students.To share ideas..........................
      </a><br />
        <br />
        <a href="#" class="button"><span>Learn More</span></a></p>
    </div>
    <div class="box">
      <h1></h1>
      <a class="whyus" href="#">Contact Us?</a>
      <p><a>
      		
      </a><br />
        <br />
        <a href="#" class="button"><span>Learn More</span></a></p>
    </div>
    <div class="box last">
      <h1>CONTACT US?</h1>
      <a class="support" href="#">Our Support</a>
      <p><a>
      	Organizer : XYZ college 
      		Email : xyz@adc.com
      		Contacts : abc(233123213) , asaSAs(4234234234),saS(3442332432434) 
      </a><br />
        <br />
        <a href="#" class="button"><span>Learn More</span></a></p>
    </div>
  </div>
</div>

