<div class='padding10'>

<h1>MASK</h1>


	<H2>Who are we ?</H2>
	<p class='info-section'>
		<b>Kuldeep Jadhav, Mangesh Dashmukhe, Ashutosh Nirkhe and Sachin
			Bihade</b> are the creaters and owners of <b><i>MASK</i></b>. All of us
		are 2010 I.T. Graduates from Maharashtra Institute of Technology,
		Pune, India.
	</p>

	<H2>What is our goal?</H2>
	<p class='info-section'>Our aim is to provide you an easy and useful way for searching,
		viewing and participating for the events you are really interested in.
		Once subscribed to MASK, you can browse for the upcoming events in
		your college quite easily.</p>

	<H2>What we believe ?</H2>
	<p class='info-section'>Designers and implementers are just the starting point of any
		project. But user is the one who will be using the product. If user is
		happy, so we are. So its our sole responsibility to provide best user
		experience possible. Quality of any product decides its value. Through
		innovation and iteration, we aim to take things that work well and
		improve upon them in unexpected ways.</p>

	<H2>What we guarantee ?</H2>
	<p class='info-section'>We don't claim to provide you with the ulitimate version of our
		site now, but yes we will be evolving it on continuos basis based upon
		your experiences, likes and comments. So you can trust that MASK is
		going to make you more and more satisfied.</p>

	<a href="#">Terms and conditions</a>
</div>