<div>
<div style="width: 30px;
height: 30px;
position: absolute;
top: 160px;
right: 0px;
z-index: 10;
box-shadow: 1px 1px 10px #888888;"
ng-click='showCommentsSection()'
>
<img src="/public/images/play-arrow.png">

</div>
<div style="" id="comment-div">
<user-comments-section/>


</div>
<!-- <script type="text/javascript">var switchTo5x=false;</script>
<script type="text/javascript" src="http://w.sharethis.com/button/buttons.js"></script>
<script>stLight.options({publisher: "82e78d9f-fba7-4297-89c8-2db6513f3e2f", doNotHash: false, doNotCopy: false, hashAddressBar: false});</script>
 --><div class="container" style="width:560px">  
	<div class="row dialog-header " >
		<div class="" style="display:inline-block">
			<span>{{eventData.eventName}}</span>
		</div>
		<div>
		<!-- <span class='st_facebook_large' displayText='Facebook'></span>
<span class='st_twitter_large' displayText='Tweet'></span>
<span class='st_linkedin_large' displayText='LinkedIn'></span>
<span class='st_googleplus_large' displayText='Google +'></span>
<span class='st_pinterest_large' displayText='Pinterest'></span>
<span class='st_email_large' displayText='Email'></span> -->
		</div>
	</div>
	<!-- displays date and time -->
	<div class="row">
		<table class="table table-hover">
			<tr class='active'>
				<td>
					Date:
				</td>
				<td>
					{{eventData.eventDetails.time}}
				</td>
			</tr>
			
			<tr class='active'>
				<td>
					College Email Id:
				</td>
				<td>
					{{eventData.eventMailId}}
				</td>
			</tr>
			
			<tr class='active'>
				<td>
					Amount Per Person:
				</td>
				<td>
					{{eventData.eventDetails.amountPerPerson}}
				</td>
			</tr>
			
			<tr class='active'>
				<td>
					Total groups allowed:
				</td>
				<td>
					{{eventData.eventDetails.totalGroupsAllowed}}
				</td>
			</tr>
			
			<tr class='active'>
				<td>
					Min Head Count in a group:
				</td>
				<td>
					{{eventData.eventDetails.minNoOfpeopleInAGroup}}
				</td>
			</tr>
			
			<tr class='active'>
				<td>
					Max Head Count in a group:
				</td>
				<td>
					{{eventData.eventDetails.maxNoOfpeopleInAGroup}}
				</td>
			</tr>
		
		</table>
<!-- 		<div class="span3">
			Date:
		</div>
		<div class="span3">
			{{eventData.eventDetails.time}}
		</div>
	</div>
	displays college emai Id
	<div class="row">
		<div class="span3">
			College Mail ID:
		</div>
		<div class="span3">
			{{eventData.eventMailId}}
		</div>
	</div>
	
	displays amount per person
	<div class="row">
		<div class="span3">
			Amount Per Person:
		</div>
		<div class="span3">
			{{eventData.eventDetails.amountPerPerson}}
		</div>
	</div>
	
	displays total groups allowed
	<div class="row">
		<div class="span3">
			Total groups allowed:
		</div>
		<div class="span3">
			{{eventData.eventDetails.totalGroupsAllowed}}
		</div>
	</div>
	
	displays maxNoOfpeopleInAGroup
	<div class="row">
		<div class="span3">
			Max Head Count in a group:
		</div>
		<div class="span3">
			{{eventData.eventDetails.maxNoOfpeopleInAGroup}}
		</div>
	</div>
	
	displays minNoOfpeopleInAGroup
	<div class="row">
		<div class="span3">
			Min Head Count in a group:
		</div>
		<div class="span3">
			{{eventData.eventDetails.minNoOfpeopleInAGroup}}
		</div>
	</div> 
	
	<div ng-repeat="contactInfo in eventData.eventDetails.contactInfo ">
	<div class="row">
			<div class="span3"  ng-show="$index == 0" ng-hide="$index > 0">
				Contacts:
			</div>
			<div class="span3"  ng-hide="$index == 0">
			 &nbsp;
			</div>
		
			<div class="span3">
				{{contactInfo.name}} | {{contactInfo.phone}} | {{contactInfo.email}}
			</div>
	</div> -->
	</div>
	
	
		
</div>

		<div class="padding10"  style="text-align:right;">
		<!-- <input type="text" class="span3" data-placement="bottom" placeholder="Focus to toggle tooltip" data-trigger="focus" data-unique="1" bs-tooltip="tooltip.title"/> -->
		<button type="button" class=" btn btn-info"  bs-popover="'/public/views/tell-friends.html'"  style="float:left">Tell your friends...</button>
		<!-- 	 <div class="checkbox" style="float:left;">
    <label style="color: rgb(78, 145, 5);
font-size: 13px;">
      <input type="checkbox"  id ="share-with-friends-{{eventId}}" > Tell your friends about this event.
    </label>
  </div> -->
			<button type="button" class="btn btn-primary" ng-click="closeDialog()">Close</button>
			<button type="button" class="btn btn-primary" ng-click="enroll()">Enroll</button>
		</div>

</div>