<div>
	<ul class='colleges-list'>
		<li><a>org1</a></li>
		<li>org1</li>
		<li>org1</li><li>org1</li>
		<li>org1</li>
		<li>org1</li><li>org1</li>
		<li>org1</li>
		<li>org1</li><li>org1</li>
		<li>org1</li>
		<li>org1</li><li>org1</li>
		<li>org1</li>
		<li>org1</li><li>org1</li>
		<li>org1</li>
		<li>org1</li>
	</ul>
	
	<ul class='org-list'>
		<li>org1</li>
		<li>org1</li>
		<li>org1</li><li>org1</li>
		<li>org1</li>
		<li>org1</li><li>org1</li>
		<li>org1</li>
		<li>org1</li><li>org1</li>
		<li>org1</li>
		<li>org1</li><li>org1</li>
		<li>org1</li>
		<li>org1</li><li>org1</li>
		<li>org1</li>
		<li>org1</li>
	</ul>
	
</div>